@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Customize these variable */

  /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */

  --tw-clr-primary-50: 253 232 237;
  --tw-clr-primary-100: 249 185 200;
  --tw-clr-primary-200: 244 138 163;
  --tw-clr-primary-300: 240 92 126;
  --tw-clr-primary-400: 235 39 84;
  --tw-clr-primary-500: 210 19 63;
  --tw-clr-primary-600: 163 15 49;
  --tw-clr-primary-700: 117 11 35;
  --tw-clr-primary-800: 70 6 21;
  --tw-clr-primary-900: 23 2 7;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fde8ed */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #f9b9c8 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #f48aa3 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #f05c7e */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #eb2754 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #d2133f */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #a30f31 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #750b23 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #460615 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #170207 */
}

@layer base {
  /* @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  } */

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body {
    @apply font-primary text-sm md:text-base;
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#3330, #3330),
      linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-100));
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }

  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}

.tippy-tooltip [x-circle] {
  background-color: transparent !important;
}

.tippy-tooltip {
  padding: 0 0.8rem;
}

/* YT Lite */
.yt-lite::before {
  content: none !important;
}
