name: PR Source Code Check

on:
  workflow_dispatch:
  push:

jobs:
  lint:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install packages
        run: bun install

      - name: Run ESLint
        run: bun run lint

  tsc:
    name: Run Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install packages
        run: bun install
      - name: Run type check
        run: bun run tsc

  prettier:
    name: Run Prettier Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install packages
        run: bun install
      - name: Run prettier
        run: bun run format

  stylelint:
    name: Run Stylelint Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install packages
        run: bun install
      - name: Run stylelint
        run: bun run stylelint

  vitest:
    name: Run Vitest testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install packages
        run: bun install
      - name: Run Vitest
        run: bun run test

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install Packages
        run: bun install

      - name: Build project
        run: bun run build
