name: Test Coveralls

on:
  workflow_dispatch:
  push:

jobs:
  coveralls:
    name: Coveralls
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun
        with:
          bun-version: 'latest'

      - uses: actions/cache@v4
        name: Setup Bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-store-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-store-

      - name: Install packages and run coverage
        run: |
          bun install
          bun run test:coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
